#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --bodyColor: "#9a6594";
}

body {
  font-family: Montserrat;
  margin: 0 auto;
  background-color: var(--bodyColor);
}

.menu {
  background-color: #9a6594;
}

.actor {
  background-color: #659A6B;
}

.film {
  background-color: #657A9A;
}

.justify {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}